#{define "dashboard"}#
#{template "header" .}#
<aside class="right-side" ng-app="gohomeapp" ng-controller="ctrl-dashboard">
    <section class="content-header">
        <h1>Dashboard</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Header Widgets -->
        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3 ng-bind="model.RAMUsed">&nbsp;</h3>
                        <p>RAM Utilised</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-tasks"></i>
                    </div>
                    <a href="/sysinfo" class="small-box-footer">System Info</a>
                </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3 ng-bind="model.ThingCount">&nbsp;</h3>
                        <p>Things</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>
                    <a href="/things/add" class="small-box-footer">Add Thing</a>
                </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3 ng-bind="model.EventsProcessed">&nbsp;</h3>
                        <p>Events Processed</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <a href="/events" class="small-box-footer">
                        View Events
                    </a>
                </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3 ng-bind="model.Uptime">&nbsp;</h3>
                        <p>Uptime</p>
                    </div>
                    <div class="icon">
                        <i class="glyphicon glyphicon-time"></i>
                    </div>
                    <a href="#" class="small-box-footer">&nbsp;</a>
                </div>
            </div><!-- ./col -->
        </div><!-- /.row -->
        <br />
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#dashboard-home" data-toggle="tab">Home</a>
                    </li>

                    <li>
                        <a href="#dashboard-health" data-toggle="tab">Health</a>
                    </li>

                    <li>
                        <a href="#dashboard-web" data-toggle="tab">Web</a>
                    </li>
                </ul>

                <div class="tab-content no-padding">
                    <div class="tab-pane active" id="dashboard-home">
                        <div class="col-md-4" ng-repeat="Thing in model.Things">
                            <br />
                            <div class="box box-primary">
                                <div class="box-header" data-toggle="tooltip" title="{{Thing.Name}}">
                                    <h3 class="box-title">{{Thing.Name}}</h3>
                                    <div class="pull-right box-tools">
                                        <button class="btn btn-info btn-sm" ng-click="deleteThing(Thing.Id)" data-widget="remove" data-toggle="tooltip" title="Remove">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </div><!-- /. tools -->

                                </div>
                                <div class="box-body" ng-bind-html="Thing.Content | htmlcontent"></div>
                                <div class="box-footer">
                                    <div class="text-center">
                                        <a href="/thing/{{Thing.Id}}/view" class="btn btn-social-icon btn-bitbucket">
                                            <i class="fa fa-eye"></i>
                                        </a>

                                        <a href="/thing/{{Thing.Id}}/configure" class="btn btn-social-icon btn-bitbucket">
                                            <i class="fa fa-gears"></i>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="dashboard-health" style="position:relative;">

                    </div>
                    <div class="tab-pane" id="dashboard-web" style="position:relative;">

                    </div>
                </div>
            </div>
        </div>
    </section>
</aside>
<script>
    var __APP = angular.module("gohomeapp", [])
    __APP.factory("ThingManager", ["$http", ThingManager])

    // Filters
    __APP.filter("htmlcontent", function($sce){
        return function(input) {
            return $sce.trustAsHtml(input);
        }
    });

    __APP.controller("ctrl-dashboard", function($scope, $http, $interval, ThingManager) {
        $scope.model = {}

        $scope.deleteThing = function(id) {
            var r = confirm("Confirm delete Thing?");
            if (r == true) {
                ThingManager.delete(id, function (){
                    ReloadDashboard($http, $scope);
                });
            }
        }

        ReloadDashboard($http, $scope);
        $interval(function () {
            ReloadDashboard($http, $scope);
        }, 10000, 0)
    });

    function ReloadDashboard($http, $scope) {
        var resp = $http.get("/api/ui/dashboard");
        resp.success(function(data, status, headers, config) {
            $scope.model = data;
        });
    }
</script>
#{template "footer" .}#
#{end}#
