#{define "device_view"}#
#{template "header" .}#
<!-- Right side column. Contains the navbar and content of the page -->
<aside class="right-side">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>View Widget</h1>
        <ol class="breadcrumb">
            <li>
                <a href="/dashboard"><i class="fa fa-dashboard"></i> Home</a></a>
            </li>
            <li>#{.Device.Name}#</li>
            <li class="active">View Device</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="col-md-12">
        #{.Content}#
        </div>
    </section><!-- /.content -->
</aside><!-- /.right-side -->
#{template "footer" .}#
#{end}#

