#{define "events"}#
#{template "header" .}#
<aside class="right-side" ng-controller="controller">
    <section class="content-header">
        <h1>Events</h1>
        <ol class="breadcrumb">
            <li>
                <a href="/dashboard"><i class="fa fa-dashboard"></i> Home</a></a>
            </li>
            <li class="active">Events</li>
        </ol>
    </section>

    <section class="content">
        <div class="col-md-12">
            <div class="callout callout-info">
                <div class="form-group">
                    <label>Filter Events</label>
                    <input type="text" ng-model="query" class="form-control" type="text" />
                </div>
            </div>

            <ul class="timeline">
                <li class="time-label">
                    <span class="bg-red">Since <span am-time-ago="message.time" am-preprocess="unix">{{model.eventsSince|amDateFormat:'h:mm:ss a, Do MMMM'}}</span></span>
                </li>

                <li ng-repeat="Event in model.Events | filter:query">
                    <i class="fa fa-envelope bg-blue"></i>
                    <div class="timeline-item">
                        <span class="time"><i class="fa fa-clock-o"></i> <span am-time-ago="message.time" am-preprocess="unix">{{Event.Ts|amDateFormat:'h:mm:ss a, Do MMMM'}}</span></span>
                        {{Event.LongText}}
                    </div>
                </li>

                <li>
                    <i class="fa fa-clock-o"></i>
                </li>
            </ul>
        </div>
    </section>
</aside>
<script src="/public/js/moment.min.js"></script>
<script src="/public/js/angular/angular-moment.min.js"></script>
<script>
    var app = angular.module("thingfuapp", ['angularMoment']);
    app.controller("controller", function($scope, $http, $interval) {
        $scope.model = {};

        function loadFeed() {
            $http.get("/api/events/100").success(function(data, status, headers, config){
                $scope.model.Events = data.events

                var firstEvent = data.events[0]
                $scope.model.eventsSince = firstEvent.Ts

                /*
                TODO: Group by
                    Today
                    Yesterday
                    Older

                 */
            });
        }
        loadFeed();
    });
</script>
#{template "footer" .}#
#{end}#
