#{define "rule_edit"}#
#{template "header" .}#
<!-- Right side column. Contains the navbar and content of the page -->
<aside class="right-side">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Edit %rule%</h1>
        <ol class="breadcrumb">
            <li>
                <a href="/dashboard"><i class="fa fa-dashboard"></i> Home</a></a>
            </li>
            <li>
                <a href="/dashboard"><i class="fa fa-rocket"></i> Rules</a></a>
            </li>
            <li class="active">Edit %rule%</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="col-md-12">

        </div>
    </section><!-- /.content -->
</aside><!-- /.right-side -->
#{template "footer" .}#
#{end}#
