#{define "rule_edit"}#
#{template "header" .}#
<style>
    .ace_editor { height: 200px; }
</style>
<aside class="right-side" ng-app="app" ng-controller="controller">
    <section class="content-header">
        <h1>Edit <span ng-bind="model.name"></span></h1>
        <ol class="breadcrumb">
            <li>
                <a href="/dashboard"><i class="fa fa-dashboard"></i> Home</a></a>
            </li>
            <li>
                <a href="/dashboard"><i class="fa fa-rocket"></i> Rules</a></a>
            </li>
            <li class="active">Editing <span ng-bind="model.name"></span></li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="col-md-4">
            <div class="form-group">
                <label>File Name</label>
                <input type="text" class="form-control" type="text" value="{{model.path}}" />
            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-primary" ng-click="saveRule()">Save Rule</button>
            </div>
        </div>
        <div class="col-md-8">
            <div ui-ace="{
                useWrapMode : true,
                showGutter: true,
                theme:'github',
                mode: 'json',
                onLoad: aceLoaded,
                onChange: aceChanged,
                firstLineNumber: 5
            }" style="height: 500px;" ng-model="model.content">
        </div>

    </section>
</aside>
<script src="/public/js/ace/ace.js"></script>
<script src="/public/js/ace/ui-ace.js"></script>
<script>
    var app = angular.module("app", ['ui.ace']);
    app.controller("controller", function($scope, $http, $interval, $location) {
        $scope.model = {};

        absUrl = $location.absUrl()
        ruleId = absUrl.substring(absUrl.lastIndexOf("/")+1, absUrl.length);
        $scope.aceLoaded = function(_editor) {
            _editor.setReadOnly(false);
        };

        $scope.aceChanged = function(e) {

        };

        $scope.saveRule = function() {
            alert("Save Rule")
        }

        $http.get("/api/rule/" + ruleId).success(function(data, status, headers, config){
            $scope.model.content = data.content
            $scope.model.name = data.name
            $scope.model.path = data.path
        });
    });
</script>
#{template "footer" .}#
#{end}#
