#{define "rules"}#
#{template "header" .}#
<aside class="right-side" ng-app="app" ng-controller="controller">
    <section class="content-header">
        <h1>Rules</h1>
        <ol class="breadcrumb">
            <li>
                <a href="/dashboard"><i class="fa fa-dashboard"></i> Home</a></a>
            </li>
            <li class="active">Rules</li>
        </ol>
    </section>

    <section class="content">
        <div class="col-md-12">
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>

                    <tr ng-repeat="Rule in model.Rules">
                        <td>{{Rule.Name}}</td>
                        <td class="hidden-xs text-center">
                            <div class="btn-group">
                                <a href="/rule/{{Rule.Id}}">
                                    <button type="button" nunchi-op="session" class="nunchi-op btn btn-success btn-gradient"> <span class="glyphicon glyphicon-earphone"></span> </button>
                                </a>
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </section><!-- /.content -->
</aside><!-- /.right-side -->
<script>
    var app = angular.module("app", []);
    app.controller("controller", function($scope, $http, $interval) {
        $scope.model = {};

        rules = []
        $http.get("/api/rules").success(function(data, status, headers, config){
            for (var r in data) {
                rules.push(data[r])
            }
            $scope.model.Rules = rules
        });
    });
</script>
#{template "footer" .}#
#{end}#
