#{define "settings"}#
#{template "header" .}#
<aside class="right-side" ng-controller="controller">
    <section class="content-header">
        <h1>Settings</h1>
        <ol class="breadcrumb">
            <li>
                <a href="/dashboard"><i class="fa fa-dashboard"></i> Home</a></a>
            </li>
            <li class="active">Settings</li>
        </ol>
    </section>

    <section class="content">
        <div class="col-md-12">
            <form role="form" method="post">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs pull-right">
                        <li>
                            <a href="#Settings-Protocols" data-toggle="tab">Protocols</a>
                        </li>
                        <li>
                            <a href="#Settings-Mail" data-toggle="tab">Mail</a>
                        </li>
                        <li class="active">
                            <a href="#Settings-General" data-toggle="tab">General</a>
                        </li>
                        <li class="pull-left header"><i class="fa fa-inbox"></i> #{.Name}#</li>
                    </ul>
                    <div class="tab-content no-padding">
                        <div class="tab-pane active" id="Settings-General" style="position: relative; padding: 10px;">
                            <div class="form-group">
                                <label>Hub ID</label>
                                <input type="text" class="form-control" name="config.NodeID" value="{{model.NodeID}}" type="text" />
                            </div>

                            <div class="form-group">
                                <label>Port</label>
                                <input type="text" class="form-control" name="config.ServerPort" value="{{model.ServerPort}}" type="text" />
                            </div>

                            <div class="form-group">
                                <label>Max Processors</label>
                                <input type="text" class="form-control" name="config.MaxProcs" value="{{model.MaxProcs}}" type="text" />
                            </div>

                            <div class="form-group">
                                <label>Database Host</label>
                                <input type="text" class="form-control" name="config.DB" value="{{model.Db}}" type="text" />
                            </div>
                        </div>
                        <div class="tab-pane" id="Settings-Mail" style="position: relative; padding: 10px;">
                            <div class="form-group">
                                <label>Host</label>
                                <input type="text" class="form-control" name="config.DB" value="{{model.Mail.Host}}" type="text" />
                            </div>

                            <div class="form-group">
                                <label>Port</label>
                                <input type="text" class="form-control" name="config.DB" value="{{model.Mail.Port}}" type="text" />
                            </div>

                            <div class="form-group">
                                <label>User</label>
                                <input type="text" class="form-control" name="config.DB" value="{{model.Mail.User}}" type="text" />
                            </div>

                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" class="form-control" name="config.DB" value="{{model.Mail.Pass}}" type="password" />
                            </div>
                        </div>
                        <div class="tab-pane" id="Settings-Protocols" style="position: relative; padding: 10px;">

                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Save and Restart</button>
                </div>
            </form>
        </div>
    </section>
</aside>
<script>
    var app = angular.module("thingfuapp", []);
    app.controller("controller", function($scope, $http) {
        $scope.model = {};

        $http.get("/api/settings").success(function(data, status, headers, config) {
            $scope.model.NodeID = "abc";

            $scope.model = data
        });
    });
</script>
#{template "footer" .}#
#{end}#
