#{define "thing_addnew"}#
#{template "header" .}#
<aside class="right-side" ng-controller="ctrlmain">
    <section class="content-header">
        <h1>Add #{frm.thing_name}#</h1>
        <ol class="breadcrumb">
            <li>
                <a href="/dashboard"><i class="fa fa-dashboard"></i> Home</a></a>
            </li>
            <li>Name</li>
            <li class="active">Add Name - (Type)</li>
        </ol>
    </section>

    <section class="content">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Configure Name - (Type)</h3>
                </div>
                #{.AddNewContent}#
            </div>

        </div>
    </section>
</aside>
#{template "footer" .}#
#{end}#
