#{define "thing_view"}#
#{template "header" .}#
<aside class="right-side" ng-controller="GoHomeController">
    <section class="content-header">
        <h1>View Widget</h1>
        <ol class="breadcrumb">
            <li>
                <a href="/dashboard"><i class="fa fa-dashboard"></i> Home</a></a>
            </li>
            <li>#{.Thing.Name}#</li>
            <li class="active">View Thing</li>
        </ol>
    </section>

    <section class="content">
        <div class="col-md-12">
        #{.Content}#
        </div>
    </section>
</aside>
#{template "footer" .}#
#{end}#

