#{define "thing_addnew"}#
#{template "header" .}#
<!-- Right side column. Contains the navbar and content of the page -->
<aside class="right-side" ng-controller="ctrlmain">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Add #{frm.thing_name}#</h1>
        <ol class="breadcrumb">
            <li>
                <a href="/dashboard"><i class="fa fa-dashboard"></i> Home</a></a>
            </li>
            <li>Name</li>
            <li class="active">Add Name - (Type)</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Configure Name - (Type)</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                #{.AddNewContent}#
                <!-- /.box-body -->
            </div><!-- /.box -->

        </div>
    </section><!-- /.content -->
</aside><!-- /.right-side -->
#{template "footer" .}#
#{end}#
