#{define "thing_addnew"}#
#{template "header" .}#
<aside class="right-side">
    <section class="content-header">
        <h1>Add #{.type.Name}#</h1>
        <ol class="breadcrumb">
            <li>
                <a href="/dashboard"><i class="fa fa-dashboard"></i> Home</a></a>
            </li>
            <li>Name</li>
            <li class="active">Add Name - (Type)</li>
        </ol>
    </section>

    <section class="content" ng-app="app">
        <script>
            var app = angular.module("app", []);
            app.factory("HttpProxy", ["$http", HttpProxy])
            app.factory("ThingManager", ["$http", ThingManager])
        </script>
        <div class="col-md-12">
            <div class="box box-primary">
                #{.content}#
            </div>
        </div>
    </section>
</aside>
#{template "footer" .}#
#{end}#
