#{define "thing_add"}#
#{template "header" .}#
<aside class="right-side" ng-app="app" ng-controller="controller">
    <section class="content-header">
        <h1>Add Thing</h1>
        <ol class="breadcrumb">
            <li>
                <a href="/dashboard"><i class="fa fa-dashboard"></i> Home</a></a>
            </li>
            <li class="active">Add Thing</li>
        </ol>
    </section>

    <section class="content">
        <div class="col-md-12">
            <table class="table table-striped table-bordered table-hover" id="datatable">
                <thead>
                    <tr>
                        <th>Thing</th>
                        <th>Protocol</th>
                        <th>Group</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="Thing in model.Things">
                        <td>{{Thing.Name}}</td>
                        <td>{{Thing.Protocol}}</td>
                        <td>{{Thing.Group}}</td>
                        <th>
                            <a href="/thing/add/{{Thing.tid}}">
                                <button type="button" class="btn btn-info btn-gradient">
                                    <span class="glyphicons glyphicons-user"></span>
                                </button>
                            </a>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</aside>
<script>
    var app = angular.module("app", []);
    app.controller("controller", function($scope, $http, $interval) {
        $scope.model = {};

        things = []
        $http.get("/api/things/types").success(function(data, status, headers, config){
            for (var t in data) {
                things.push(data[t])
            }
            $scope.model.Things = things
        });
    });
</script>
#{template "footer" .}#
#{end}#
